@import "tailwindcss";

/* Custom animation for the bottom info ticker */
@keyframes scroll-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.animate-ticker {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 30s linear infinite;
}

.animate-ticker:hover {
    animation-play-state: paused;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}